.hand{
    cursor: pointer;
}



/* .hidden {
    display: none;
  } */

/* .searchContainer {
    display: inline-block;
    position: relative;
}

.searchContainer input[type="text"] {
    width: 150px;
    padding: 5px;
}

.seearchContainer input[type="text"]:focus {
    width: 200px;
} */
 